.title{
    text-align: center;
    text-shadow: 3px 3px 2px rgba(7, 121, 128, 0.65),-19px -3px 25px rgba(180, 228, 255, 0.32);
    font-size: 3rem;;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}